{% extends 'login_reg_base.html' %}
{% load static %}

{% block form %}
            {% if messages %}
              {% for message in messages %}
                <p style="color: red">{{message}}</p>
              {% endfor %}
            {% endif %}

            {% if form.errors %}
                {% for error in form.errors.values %}
                    {{ error }}
                {% endfor %}
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="text" name="username" required class="form-control" id="floatingInput" placeholder="Enter username">
                <label for="floatingInput"><span class="req">* </span>Username</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" name="first_name" class="form-control"  placeholder="First Name">
                <label for="floatingInput">First Name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                <label for="floatingInput">Last Name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" name="phone" required class="form-control" placeholder="Phone number">
                <label for="floatingInput">Phone</label>
              </div>

              <div class="form-floating mb-3">
                <input type="email" name="email" required class="form-control" placeholder="username@example.com">
                <label for="floatingInput"><span class="req">* </span>E-mail</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" name="password1" required class="form-control"  placeholder="Password">
                <label for="floatingPassword"><span class="req">* </span>Password</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" name="password2" required class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"><span class="req">* </span>Confirm Password</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Register</button>
              </div>

                <small><span class="req">* </span> Required fields!</small>


              <hr class="my-4">
            </form>
            <p>Have an account? <a href="{% url 'login' %}">Login here</a></p>
{% endblock form %}




<!--
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div>
                <p>
                    {{ field.label }}: <br>
                    {{ field }}
                </p>

                {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit">Register</button>
        </form>
        <p>If you already have an account, <a href="{% url 'login' %}">login</a> instead </p>
-->