{% extends '../login_reg_base.html' %}
{% load static %}


{% block form %}
  <!--Password Reset Confirm-->
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ form.errors.new_password2|safe|escape }}
            </div>

        {% endif %}
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="password" name="new_password1" required class="form-control"  placeholder="Password">
                <label for="floatingPassword"><span class="req">* </span>Password</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" name="new_password2" required class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"><span class="req">* </span>Confirm Password</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Reset password</button>
              </div>
        </form>
{% endblock %}