{% extends '../login_reg_base.html' %}
{% load static %}


{% block form %}
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

            <form action="" method="POST">
                {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="email" name="email" required class="form-control" placeholder="username@example.com">
                <label for="email">E-mail</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Send email</button>
              </div>
              <hr class="my-4">
            </form>

            <br>
            <p><a href="{% url 'login' %}">Back to Login page</a></p>

{% endblock %}